.CheckBox {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

.CheckBox > input {
    display: none;
    visibility: hidden;
}

.CheckBox > label {
    padding-inline: 1rem;
    position: relative;
    text-align: right;
}

.CheckBoxSelected {
    color: orange;
    background-color: rgba(0, 255, 255, .1);
    border: 1px solid cyan;
}

/* .CheckBox > label::before {
    content: '';
    background-color: black;
    width: 75%;
    height: 75%;
    position: absolute;

} */